.link {
    display: inline-flex;
    padding: 20px;
    border: 1px solid transparent;
    border-radius: 5px;
    font-size: 22px;
    transition: all 0.3s;
  }
  .active {
    color: white;
    border-color: white;
  }
  